body {
	font-family: Open Sans, sans-serif;
	font-weight: 400;
  background-image: url(https://c.wallhere.com/photos/d9/b0/digital_art_dark_lines-102550.png!d);
  background-size: 100%;
  background-color:#1e1e1e;
}

.l-homeworks {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 300px;
  min-height: 100vh;
}

.l-homeworks__item {
	width: 100%;
}

.l-homeworks__item + .l-homeworks__item {
	margin-top: 30px;
}

.l-homeworks__link {
	width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
  color: #A9A9A9;
  position: relative;
  transition: color .1s ease-out,
              transform .2s ease-out;
}

.l-homeworks__link:hover {
    transform: scale(1.2);
    color: #ff9800;
    transition: color .1s ease-out,
                transform .2s ease-out;
}

.l-homeworks__link::before{
  content: '';
  width: 0;
  height: 0;
  border: 3px solid  #ff9800; 
  border-width: 3px 0 0 3px;
  border-radius: 3px;
  position: absolute; 
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: height .1s .3s ease-out,
              width .1s .2s ease-out,
              opacity .1s .3s ease-out;
}

.l-homeworks__link:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: height .1s ease-out,
              width .1s .1s ease-out,
              opacity .1s ease-out;
}

.l-homeworks__link::after{
  content: '';
  width: 0;
  height: 0;
  border: 3px solid #ff9800; 
  border-width: 0 3px 3px 0;
  border-radius: 3px;
  position: absolute; 
  right: 0;
  top: 0;
  opacity: 0;
  transition: height .1s .1s ease-out,
              width .1s  ease-out,
              opacity .1s .1s ease-out;
}

.l-homeworks__link:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: height .1s .2s ease-out,
              width .1s .3s ease-out,
              opacity .1s .2s ease-out;
}
