body {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}

.l-text {
  max-width: 485px;
  margin: 0;
}

.l-text span {
  background-color: #3786A0;
  padding: 2px;
}

.l-text li:nth-child(n+2) {
  margin-top: 10px;
}
.calc-title {
  font-size: 22px;
  color: #EFE8E4;

}
.calc {
  background-color: #332824;
  width: 485px;
  padding: 30px;
  border-radius: 6px;
}
.calc-display-input {
  width: 465px;
  height: 60px;
  margin: 20px 0;
  border-radius: 6px;
  background-color:#C3BFC4;
  color:#242124;
  text-align: right;
  font-size: 35px;
  padding: 10px;
}
.calc_button-row td {
  margin: 0 auto;
  padding: 5px;
}
.btn {
  width: 85px;
  height: 60px;
  background-color: #EFE8E4;
  font-size: 27px;
  color: #000000;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: 0.1s all;
}
.operator, .plus-minus {
  background-color: #676368;
  color: #ffffff;
  text-transform: none;
}
.clear-btn {
  background-color:#3786A0;
}
.btn-hover-red:hover {
  background-color: #d83e33;
  color: #f2f2f2;
}
.btn-hover-orange:hover {
  background-color: #ff6a00;
  color: #f2f2f2;
}
.btn-hover-green:hover {
  background-color: green;
  color: #f2f2f2;
}
.btn:active {
  transform: translateY(-1px);
}
.btn-long {
  width: 183px;
}
.btn-equal {
  height: 145px;
  width: 183px;
}

input,
button {
  padding: 5px 15px;
  margin: 10px;
  border: 0;
  outline: 0;
  border-radius: 4px;
}
button {
  margin-left: 0;
  padding: 15px 24px;
}
@media screen and (max-width: 768px) {
  .calc {
    width: 380px;
    margin: 0 auto;
  }
  .calc-display-input {
    width: 360px;
  }
  input[placeholder] {
    font-size: 28px;
  }
  input::-moz-placeholder {
    font-size: 28px;
  }
  input:-moz-placeholder {
    font-size: 28px;
  }
  input:-ms-input-placeholder {
    font-size: 28px;
  }
  .btn {
    width: 64px;
  }
  .btn-long {
    width: 140px;
  }
  .btn-equal {
    height: 145px;
    width: 140px;
  }

  .l-text.mod {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .calc {
    width: 350px;
  }
  .calc-display-input {
    width: 340px;
  }
  .btn {
    width: 60px;
  }
  .btn-long {
    width: 132px;
  }
  .btn-equal {
    height: 145px;
    width: 132px;
  } 
}
